TF_VAR_apiKey="apikey sample"
TF_VAR_abrakName="Ubuntu minimum plan"
TF_VAR_region="ir-thr-fr1"
TF_VAR_diskSize=25
TF_VAR_falvorId="eco-1-1-0"
TF_VAR_imageId="80827085-61a9-45dd-a9b1-04356e8b3987" # default arvan imageid
TF_VAR_securityGroupId="cd7b4134-5fab-41f6-9be6-bee4183b52ba" # default arvan security group id
TF_VAR_networkId="800b63cc-ee75-4ece-b8b8-5b1d4c2fe75e" # default arvan network id
TF_VAR_SSH_KEY_NAME="arvan-deploy"